@model OgloszeniaDrobne.Models.PaginAnnoucmentModel
@{
    ViewData["Title"] = "Annoucments";
    var previous = Model.Page - 1;
    var next = Model.Page + 1;
}

<h1>Ogłoszenia</h1>

@foreach (var annoucment in Model.Data)
{
    <div>
        <strong>@annoucment.Title</strong><span>@annoucment.CreateDate</span>
        <p>@annoucment.Description</p>
        <a type="button" class="btn btn-danger" asp-area="" asp-controller="ReportedAnnoucments" asp-action="index" asp-route-id="@annoucment.Id">Zgłoś</a>
    </div>
}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @(Model.Page == 0? "disabled" : "")">
            <a class="page-link" asp-controller="Announcements" asp-action="AnnoucmentsPagination" asp-route-id="@previous" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for(var pageCount=0;pageCount<=Model.Total;pageCount++)
        {
            var pageDisplay = pageCount + 1;
            <li class="page-item"><a class="page-link" asp-controller="Announcements" asp-action="AnnoucmentsPagination" asp-route-id="@pageCount">@pageDisplay</a></li>
        }
        <li class="page-item @(Model.Page == Model.Total? "disabled" : "")">
            <a class="page-link" asp-controller="Announcements" asp-action="AnnoucmentsPagination" asp-route-id="@next" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
