
<ul class="nav flex-column nav-pills me-3">
    <li class="nav-item">
        <a class="nav-link @(ViewData["Title"] == "Category"? "active" : "")" aria-current="page" asp-area="" asp-controller="Admin" asp-action="Category">Kategorie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewData["Title"] == "Dozwolone tagi"? "active" : "")" asp-area="" asp-controller="Admin" asp-action="HtmlTags">Dozwolone znaczniki HTML</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewData["Title"] == "Zgłoszone ogłoszenia"? "active" : "")" asp-controller="Admin" asp-action="ReportedAnnoucments">Zgłoszone ogłoszenia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewData["Title"] == "Słowa zakazane"? "active" : "")" asp-controller="Admin" asp-action="ForbiddenWords">Słowa zakazane</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewData["Title"] == "Wiadomości admina"? "active" : "")" asp-controller="Admin" asp-action="AdminAnnoucments">Wiadomości na stronie głównej</a>
    </li>
</ul>